
<center>
<form method="POST">
<table bgcolor='lightgreen' border="1" width="500">
<tr>
<td width="40%">Age: </td><td><input type="number" name="age" min="1" max="150"></td>
</tr>
<tr>
<td width="40%">Gender:(0 for female; 1 for male) </td><td><input type="number" name="gender" min="0" max="1"></td>
</tr>
<tr>
<td>Income: </td><td><input type="number" name="income" min="1" max="1000000"></td>
</tr>
<tr>
<td>Press The Button To Submit:</td><td><input type="submit" value="Submit"></td>
</tr>
<tr><td colspan="2">{{href2}}</td></tr>
</table>
</form>
</center>
