<center>
    <form method="POST">
    <h1>Machine Learning - Guess The Type Of Occupation</h1>
    <img src="/static/HKU.jpg" width="500">
    <table border="1" width="500">
    <tr bgcolor="lightgreen">
    <td width="40%">Age: </td><td><input type="number" name="age" min="1" max="150"></td>
    </tr>
    <tr bgcolor="lightgreen">
    <td width="40%">Gender:(0 for female; 1 for male) </td><td><input type="number" name="gender" min="0" max="1"></td>
    </tr>
    <tr bgcolor="lightgreen">
    <td>Income: </td><td><input type="number" name="income" min="1" max="1000000"></td>
    </tr>
    <tr bgcolor="lightgreen">
    <td>Press The Button To Submit:</td><td><input type="submit" value="Submit"></td>
    </tr>
    <tr bgcolor="grey"><td colspan="2" align="center" style="color:aliceblue">The Result</td></tr>
    <tr bgcolor="lightgrey"><td colspan="2" height="25px">{{href2}}</td></tr>
    <tr bgcolor="lightgrey"><td colspan="2" height="25px">{{href3}}</td></tr>
    </table>
    </form>
    </center>